<h1>Users#profile</h1>
<p>Find me in app/views/users/profile.html.erb</p>

 <h2>My reservations</h2>

<h1> <% @reservations.each do |reservation| %></h1>
    <ul>
      <li>
        <%= reservation.date %>
        <%= link_to "", reservation_path(reservation),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "fas fa-trash" %>
      </li>
    </ul>
   <% end %>

 <h2>My planets</h2>
<% @planets.each do |planet| %></h1>
    <ul>
      <li>
        <%= planet.name %>
        <%= link_to "", planet_path(planet),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "fas fa-trash" %>
        <%=link_to "", edit_planet_path(planet),
          class: "fas fa-pen" %>
      </li>
    </ul>
<% end %>
<%= link_to "Add a Planet", new_planet_path, class: "btn-flat" %>





