<div class="containeur0">
  <div class="profile-card">
    <h1 class="title-profile">Mon profil</h1>
    <% if current_user.photo.attached? %>
    <div>
      <%= cl_image_tag current_user.photo.key, width: 200, height: 200, crop: :fill %>
    </div>
    <% else %>
    <div>
      <%= image_tag "astronaut.png", width: 200, height: 200, crop: :fill %>
    </div>
    <% end %>
    <p class="mt-2">Email: <%= current_user.email %></p>
    <%= link_to "Mettre à jour le profil", edit_user_path(current_user) %> <br>
    <%= link_to "Ajouter une planete", new_planet_path, class: "btn btn-dark mt-4" %>
  </div>
  <div class="containeur1">
    <div class="containeur2">
      <h2 class="title-profile">Mes réservations</h2>
      <div class="row">
        <% @reservations.each do |reservation| %>
        <div class="myreservations col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card-trip">
            <img src="<%= cl_image_path reservation.planet.photo.key if reservation.planet.photo.attached? %>" />
            <div class="card-trip-infos" style="color: black;">
              <div>
                <h2><%= reservation.planet.name %>
                </h2>
                <p>Réservé le : <%= reservation.date %></p>
                <%= link_to "", reservation_path(reservation),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "fas fa-trash" %>
              </div>
              <h2 class="card-trip-pricing"><%= reservation.planet.price %>€</h2>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="containeur3">
      <h2 class="title-profile">Mes planètes</h2>
      <div class="row">
        <% @planets.each do |planet| %>
        <div class="myplanets col-12 col-sm-12 col-md-4 col-lg-4">
          <div class="card-trip">
            <img
            src="<%= cl_image_path planet.photo.key if planet.photo.attached? %>" />
            <div class="card-trip-infos">
              <div>
                <h2 style="color: black;">
                <%= planet.name %>
                </h2>
                <%= link_to "", planet_path(planet),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "fas fa-trash" %>
                <%=link_to "", edit_planet_path(planet),
                class: "fas fa-pen" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
