
<div class="container">
<%= cl_video_tag("samples/12-5-vf-insta_lzoype", autoplay: true, muted: true) %>
  <div class="row mb-4">
    <% @planets.each do |planet| %>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <%= link_to planet_path(planet), class: "link_card"  do %>
      <div class="card-trip">
        <% planet.photos.first do |photo| %>
          <img src="<%= cl_image_path photo.key %>" />
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= planet.name %>
            </h2>
          </div>
          <h2 class="card-trip-pricing"><%= planet.price %>k€/j</h2>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
