<!-- <div class="container">
  <%= form_tag planets_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a planet"
  %>
  <%= submit_tag "Search", class: "btn btn-dark" %>
  <% end %>
</div> -->
<%= render 'shared/banner' %>
<div class="container">
  <div class="row mb-4">
    <% @planets.each do |planet| %>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <%= link_to planet_path(planet), class: "link_card"  do %>
      <div class="card-trip">
        <img src="<%= cl_image_path planet.photo.key if planet.photo.attached? %>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= planet.name %>
            </h2>
          </div>
          <h2 class="card-trip-pricing"><%= planet.price %>k€/j</h2>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
